.body-image{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-show {
    background-color: aqua;
    width: 600px;
    height: 450px;
    overflow: hidden;
    position: relative;
}
.list-images {
    display: flex;
    transition: 0.5s;
}
.btn {
    font-size: 45px;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn:hover {
    color: white;
}

.btn-left {
    left: -1cm;
    border: none;
}
.btn-right {
    right: -1cm;
    border: none;
}

.index-images {
    position: absolute;
    bottom : 10px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.index-item {
    border: 2px solid #999;
    padding: 10px;
    margin: 3px;
    border-radius: 50%;
}

.active {
    background-color: #999;
}

:root {
	--yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}

/* body {
	background: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
} */






.wrapper {
	background: var(--white);
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;

}
/* .wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
} */
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 5rem;
	color: var(--yellow);
	margin-bottom: 3cm;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
    background-color: white-pinkish-color;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}


.wrapper {
    display: none;
}

.wrapper.active {
    display: block;
    background-color: #FAF2F7;
    margin-left: 30%;
	margin-bottom: 2.5cm;
}

.bx.bxs-star.star.active {
    background-color: #FAF2F7;
}

.user {
    display: flex;
    font-size: 30px;
    margin-left: 15%;
    margin-bottom: 1.5cm;
	cursor: pointer;
	width: 10cm;
}

.user:hover {
color:red;
}
.user {
	margin-left: 15%;
	color: black;
}
.btns_submit{
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: #4383FF;
	color:#FFF;
	margin-top: 3cm;
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.875rem;
	font-weight: 500;
	margin-left: 45%;
	margin-top: -1cm;
}

.btns_submit:hover {
	background-color: #3278FF;
}

.app {
	background-color: #FAF2F7;
	color: black;
	min-height: 50vh;
	display: grid;
	place-items: center;
}

.rate {
	display: flex;
	align-items: center;
	column-gap: 2rem;
	width: 75vw;
	/* margin-top: -12cm; */
	margin-left: 15%;
}
/* .board {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3cm;
} */
.rating__average {
	width: 4cm;
	height:3cm;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	background-color: rgb(236, 226, 226);
	padding: 1rem;
	border-radius: .8rem;
	text-align: center;
}

.rating__average h21 {
	font-size: 3rem;
	margin-top: 1rem;
	left:2cm;
}

.rating__average p1 {
	margin-top: .7rem;
	letter-spacing: .1rem;
	font-size: 8px;
}

.rating__progress {
	width: 70%;
	margin-left: 1.5cm;
}

.rating__progress-value {
	height: 2rem;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 1rem;
}

.rating__progress-value .star {
	font-size: 1.2rem;
	color:gold;
}

.rating__progress-value p:last-child {
	width: 10%;
}

.rating__progress .progress {
	flex: 1 1 0;
	height: .5rem;
	background-color: #ff02;
}

.bar {
	width: 80%;
	height: 100%;
	background-color: gold;
	border-radius: .5rem;
}

.rating__average .star-outer {
	position: relative;
	font-size: 2rem;

	display: inline-block;
}

.rating__average .star-outer::before {
	content: "\2605 \2605 \2605 \2605 \2605";
	color: #fff8;
	
}

.rating__average .star-inner {
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;

}

.rating__average .star-inner::before {
	content: "\2605 \2605 \2605 \2605 \2605";
	color: gold;
}


#toast {
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 999999;
  }
  
  .toast {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2px;
	padding: 20px 0;
	min-width: 400px;
	max-width: 450px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
	transition: all linear 0.3s;
  }
  
  @keyframes slideInLeft {
	from {
	  opacity: 0;
	  transform: translateX(calc(100% + 32px));
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  @keyframes fadeOut {
	to {
	  opacity: 0;
	}
  }
  
  .toast--success {
	border-color: #47d864;
  }
  
  .toast--success .toast__icon {
	color: #47d864;
  }
  
  .toast--info {
	border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
	color: #2f86eb;
  }
  
  .toast--warning {
	border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
	color: #ffc021;
  }
  
  .toast--error {
	border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
	color: #ff623d;
  }
  
  .toast + .toast {
	margin-top: 24px;
  }
  
  .toast__icon {
	font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
	padding: 0 16px;
  }
  
  .toast__body {
	flex-grow: 1;
  }
  
  .toast__title {
	font-size: 16px;
	font-weight: 600;
	color: #333;
  }
  
  .toast__msg {
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
  }
  
  .toast__close {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;

  }
  