<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="admin.css">
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<a class="logo" href="/index">Hong Phuong</a>
			<ul class="nav-list">
				<li class="nav-item"><a href="/admin/dashboard" class="nav-link">Waiting List</a></li>
				<li class="nav-item"><a href="/admin/reservation" class="nav-link">Reservation</a></li>
                <li class="nav-item"><a href="/admin/rooms" class="nav-link">Rooms</a></li>
			</ul>
			<ul class="nav-list">
				<li class="nav-item"><a href="/admin/logout" class="nav-link book-btn">Logout</a></li>
			</ul>
		</nav>
	</div>
	<section class="editRoom">
        <div class="container" style="justify-content: center;">
			<h3>Room Details</h3>
			<h3>Room Number : <%= data.room_id %></h3>
			<% if (message) { %>
				<div class="alert alert-info"><%= message %></div>
			<% } %>
		</div>
		<div class= "editForm" style="justify-content: center; margin: 30px">
			<form idmethod="POST" action="/admin/editRoom">
				<input type="hidden"  name="id" value="<%=data.room_id%>" >
				<textarea name="facility" placeholder="Facility" value="<%= data.description%>" required></textarea>
				<textarea name="description" placeholder="Description" required></textarea>
				<!-- Save changes button-->
				<a><button class="btn btn-primary">Save changes</button></a>
			</form>
		</div>
    </section>
	<script src="tab.js"></script>
</body>