<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/admin.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <a class="logo" href="/index">Hong Phuong</a>
            <ul class="nav-list">
                <li class="nav-item"><a href="/admin/dashboard" class="nav-link">Waiting List</a></li>
                <li class="nav-item"><a href="/admin/reservation" class="nav-link">Reservation</a></li>
                <li class="nav-item"><a href="/admin/chat" class="nav-link">Chat</a></li>
            </ul>
            <ul class="nav-list">
                <li class="nav-item"><a href="/admin/logout" class="nav-link book-btn">Logout</a></li>
            </ul>
        </nav>
        </nav>
    </div>
    <section id="info" class="info">
        <div class="container">
            <h2>Chat chat chat</h2>
        </div>
       
            <form id="msgForm" action="">
                <input type="text" name="msg">
                <button>Send</button>
            </form>
            <div id="messages">
        
            </div>
        
        
    </section>
    <!-- Tab content with title -->    
</head>


    
</body>